*.swp
bin/
build/msvs2010/Debug/
build/msvs2010/ipch/
build/msvs2010/orxCraft.vcxproj.filters
build/msvs2010/orxCraft.vcxproj.user
build/msvs2010/orxcraft.opensdf
build/msvs2010/orxcraft.sdf
build/msvs2010/orxcraft.suo
doc/html/

